@if(run != null){
    <div (click)="toggle()">
    <p>run id: {{run.id}}</p>
    <p>runner id: {{run.runnerId}}</p>
    <p>started at: {{run.startedAt}}</p>
    <p>finished at: {{run.finishedAt}}</p>
    </div>
    <div class="collapse" [class.show] = "expanded">
        @for (runPoint of (runPoints$ | async) ; track runPoint.id) {
            <p>runPointId: {{runPoint.id}}</p>
            <p>timestamp: {{runPoint.timestamp}}</p>
            <p>longitude: {{runPoint.longitude}}</p>
            <p>latitude: {{runPoint.latitude}}</p>
            <p>altitude: {{runPoint.altitude}}</p>
            <p>heart rate: {{runPoint.heartRate}}</p>
        }
        <app-graph ></app-graph>
    </div>
}